<div class = 'regLogContainer'>
    <div id = 'errorMessage' class = 'errorMessage'>
        <!-- добавишь в css display:none, js сам меняет-->
    </div>

    <form id = 'loginForm' method="post">
        <label>Логин</label><br>
        <input type="text" name="nickname" required>
        <label>Пароль</label><br>
        <input type="text" name="password" required>
        <input type="submit" value="Вход" />
    </form>

</div>

<script type="module" src = 'js/loginPost.js'></script>

